{% extends 'base.html' %}
{% block content %}

<h1>Makeup Product Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ makeup.name }}</span>
        <p>Category: {{ makeup.category }}</p>
        <p>Description: {{ makeup.description }}</p>
        <p>Price: {{ makeup.price }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'makeup_update' makeup.id %}">Edit Product</a>
        <a href="{% url 'makeup_delete' makeup.id %}">Delete Product</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_review' makeup.id %}" method="post">
      {% csrf_token %}
      {{ reviews_form.as_p }}
      <input type="submit" class="btn"  style="background-color:#e91e63" value="Add A Review">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Review</th><th>Rating</th></tr>
      </thead>
      <tbody>
        {% for review in makeup.reviews_set.all %}
          <tr>
            <td>{{review.date}}</td>
            <td>{{review.review}}</td>
            <td>{{review.get_rating_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // add additional JS to initialize select below
  var selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
